In [7]:
import pandas as pd

df = pd.read_csv("./data-labled/songs-gender-lable-balanced.csv")

print(df.head())

   Unnamed: 0                                             Lyrics  Year  \
0         942   a boy is born in hard time mississippi surrou...  1974
1         746   a clean up woman is a woman who gets all the ...  1972
2        3339   a few questions that i need to know how you c...  1998
3        2020   a few stolen moments is all that we share you...  1985
4        4676   a full moon shinin bright edge of the water w...  2011

  dominant_gender
0         neutral
1         neutral
2         neutral
3            male
4         neutral

In [8]:
df.groupby('dominant_gender').count()

# import matplotlib.pyplot as plt
# fig = plt.figure(figsize=(8,6))
# df.groupby('dominant_gender').Lyrics.count().plot.bar(ylim=0)
# plt.show()

                 Unnamed: 0  Lyrics  Year
dominant_gender
female                 1267    1267  1267
male                   1184    1184  1184
neutral                3231    3008  3231